body{
  display: flex;
   justify-content: center;
   background: pink;
}
#container{
  position: relative;
  top: 100px;
  width: 500px;
}
#content-box{
  background: lightblue;
  padding: -3px;
  margin-bottom: : -5px;
  width: 600px;
  border-radius: 25px;
  height: 150px;
  background-color: hsl(50%, 40%, 30%);
}
ul{
  list-style-type: none;
  padding: 5px;
  display: flex;
  justify-content: center;
}
a{
  text-decoration-color: none;
  background: lightblue;
  width: 75px;
  height: 25px;
}
a:hover{
  background: yellow;
}
h1{
  transform: rotate(2deg);
  color: blue;
  text-shadow: 2px 2px;
}
